<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="color-scheme" content="light dark">
    <meta name="supported-color-schemes" content="light dark">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700,900" id="google-fonts-css" media="all"
        rel="stylesheet" type="text/css" />
    <style>
        body {
            width: 100vw;
        }

        .innermain {
            width: 528px !important;
        }

        #hello {
            background-image: url('https://res.cloudinary.com/gabbyprecious/image/upload/v1645116374/l0orrgcywgv35eqf4xcl.jpg') !important;
            background-size: cover;
        }

        @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
            .innermain {
                width: 400px !important;
            }
        }

        @media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
            .innermain {
                width: 400px !important;
            }
        }

        @media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) {
            .innermain {
                width: 430px !important;
            }
        }
    </style>

</head>

<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="margin: 0pt auto; padding: 0px;">
    <div id="hello">
        <table id="main" width="100%" height="100%" cellpadding="0" cellspacing="0" border="0">
            <tbody>
                <tr>
                    <td valign="top">
                        <table class="innermain" cellpadding="0" cellspacing="0" border="0" align="center"
                            style="margin:0 auto; table-layout: fixed;">
                            <tbody>
                                <!-- START of MAIL Content -->
                                <tr>
                                    <td colspan="3">
                                        <!-- Logo start here -->
                                        <table class="logo" width="100%" cellpadding="0" cellspacing="0" border="0">
                                            <tbody>
                                                <tr>
                                                    <td colspan="2" height="30"></td>
                                                </tr>
                                                <tr>
                                                    <td valign="top" align="center" width="100%">
                                                        <a href="https://www.bitnob.com"
                                                            style="display: block;cursor:pointer;text-align:center;margin-left: auto;margin-right: auto;">
                                                            <img src="/VST.7bec9fe3435052248444.png"
                                                                style="margin: auto;" width="125" />
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" height="30"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- Logo end here -->
                                        <!-- Main CONTENT -->
                                        <table cellpadding="0" align="center" cellspacing="0" border="0"
                                            bgcolor="#E9FFF8"
                                            style="border-radius: 4px; box-shadow: 0 2px 8px rgba(0,0,0,0.05);">
                                            <tbody>
                                                <tr>
                                                    <td valign="top" align="center">
                                                        <div style="margin-top: 40px;">
                                                            <p style="
                              font-size: 25px;
                              color: #000!important;
                              font-weight: 300;
                              font-family: 'Raleway', Helevetica, sans-serif;
                          ">
                                                                Hello {{ USER }}! 👋
                                                            </p>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="40"></td>
                                                </tr>
                                                <tr
                                                    style="font-family: 'Raleway', Helvetica, Arial, sans-serif;; color:#4E5C6E; font-size:14px; line-height:20px; margin-top:20px;">
                                                    <td class="content" colspan="2" valign="top" align="center"
                                                        style="padding-left:90px; padding-right:90px;">
                                                        <table width="100%" cellpadding="0" cellspacing="0" border="0"
                                                            bgcolor="#E9FFF8">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="center" valign="bottom" colspan="2"
                                                                        cellpadding="3">
                                                                        <img src="https://i.postimg.cc/mrHHCS8Z/mobile-otp-1.png"
                                                                            alt="phone" />
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td height="30" &nbsp;=""></td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center">
                                                                        <div
                                                                            style="font-size: 16px; line-height: 32px; font-weight: 300; margin-left: 20px; margin-right: 20px; margin-bottom: 25px;">
                                                                            Below is your OTP Code.
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td height="24" &nbsp;=""></td>
                                                                </tr>
                                                                <tr>
                                                                    <td height="1" align="center">
                                                                        <table border="0" cellspacing="1"
                                                                            cellpadding="0">
                                                                            <tr>
                                                                                <td style="padding: 20px 0; text-align: center; font-size: 30px;
                                                           font-family: 'Raleway', Helvetica, Arial, sans-serif;">
                                                                                    <h1> {{OTP}} </h1>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td height="24" &nbsp;=""></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="60"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- Main CONTENT end here -->
                                        <!-- PROMO column start here -->
                                        <!-- Show referral promo 25% of the time-->
                                        <table id="promo" width="100%" cellpadding="0" cellspacing="0" border="0"
                                            style="margin-top:20px;">
                                            <tbody>
                                                <tr>
                                                    <td colspan="2" height="20"></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" align="center"> <span
                                                            style="font-size:14px; font-weight:500; margin-bottom:10px; color:#7E8A98; font-family: -apple-system,BlinkMacSystemFont,sans-serif;">
                                                            Need
                                                            help? Ask at
                                                            <a href="">test@gmail.com</a>
                                                            or visit our
                                                            <a href="">Help Center</a>

                                                    </td>
                                                </tr>
                                                <!-- <tr>
                                                    <td colspan="1" height="20" width="50%" align="center">
                                                        <div
                                                            style="font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;margin-top:15px;margin-bottom:20px;width:400px;display:inline-block;color:#9BA6B2; font-size:14px; line-height:24px;">
                                                            Need help? Ask at
                                                            <a href="">test@gmail.com</a>
                                                            or visit our
                                                            <a href="">Help Center</a>
                                                            <div>
                                                    </td>
                                                </tr> -->
                                                <tr>
                                                    <td colspan="2" height="20"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- PROMO column end here -->
                                        <!-- FOOTER start here -->
                                        <!-- <table width="100%" cellpadding="0" cellspacing="0" border="0">
                      <tbody>
                        <tr>
                          <td height="10">&nbsp;</td>
                        </tr>
                        <tr>
                          <td valign="top" align="center"> <span
                              style="font-family: -apple-system,BlinkMacSystemFont,&#39;Segoe UI&#39;,&#39;Roboto&#39;,&#39;Oxygen&#39;,&#39;Ubuntu&#39;,&#39;Cantarell&#39;,&#39;Fira Sans&#39;,&#39;Droid Sans&#39;,&#39;Helvetica Neue&#39;,sans-serif; color:#9EB0C9; font-size:10px;">&copy;
                              <a href="https://www.bitnob.com/" target="_blank"
                                style="color:#9EB0C9 !important; text-decoration:none;">Bitnob</a> 2017
                            </span>
  
                          </td>
                        </tr>
                        <tr>
                          <td height="50">&nbsp;</td>
                        </tr>
                      </tbody>
                    </table> -->
                                        <!-- FOOTER end here -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>